<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Applegreen Events</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <link href="css/fontello.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="css/nevis.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="css/slick.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="css/slick-theme.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body class="hide">

    {{ block "main" . }}{{ end }}

    <script
            src="https://code.jquery.com/jquery-2.1.4.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js" crossorigin="anonymous"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
